h1 {
    color: hotpink;
    font-family: cursive;
}

body {
    margin: 0;
    line-height: 1.5;
    color: #212121;
    font-family: sans-serif;
    background-color: rgb(238, 247, 255);
}

p {
    margin: 0;
}

input {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.track-list {
    /* outline: 3px solid purple; */
    margin: 0;
    /* padding: 24px; */
}
.track-info{
    margin: 0;
    padding: 20px;
}
.track-info:nth-child(2n+1){
    background-color: rgb(204, 223, 240);
}

/* .block{
    outline: 3px solid rgb(178, 209, 185);
    display: flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* background-color: rgb(204, 223, 240);
} */
.info-box{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.track-block{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.track-block li{
    width: 20%;
}
.track-block li:last-child {
    width: 5%;
}

.track-list li:not(:last-child) {

    /* margin-bottom: 16px; */
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.container{
outline: 3px solid purple;
padding: 24px;
}

/* caption-list */
.container-caption{
    padding-left: 20px;
    padding-right: 20px
}
.caption-list {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.caption-list li {
    width: 20%;
}


.caption-list li:last-child {
    width: 5%;
}



/* ////////////////for table */

.block:nth-child(2n+1){
    /* position: absolute; */
    /* background-color: black; */
}

/* ////////////////for table */


.box {
    width: 100px;
    height: 100px;
}

.box img {
    object-fit: contain;
    object-position: center;
}

.btn-info-box {
    background-color: inherit;
    border: none;
    width: 50px;
    /* color: rgb(0, 0, 0); */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
}